{% extends "base.html" %}
{% load app_filters %}
{% block title %}Discharge Patient{% endblock %}
{% block body_header %}Discharge Patient{% endblock %}
{% block body %}
    {% if admission.active %}
        <p class="lead">Are you sure you want to discharge this patient?</p>
        <form action="./{% if form_action %}{{ form_action }}{% endif %}" method="post">{% csrf_token %}
            <div class="col-sm-3">
                <input class="btn btn-danger btn-block" type="submit" name="yes" value="Yes"/>
                <input class="btn btn-success btn-block" type="submit" name="no" value="No"/>
            </div>
        </form>
    {% else %}
     <p class="lead">The patient has been discharged.</p>
        <div class="col-sm-3">
            <a href="/appointment/list/" class="btn btn-primary btn-block" role="button">Return to inpatient list.</a>
        </div>
    {% endif %}
{% endblock %}